/* main */
@use "./base/reset";
@use "./abstracts/variables" as var;

* {
    box-sizing: border-box;
}

:where(ul, ol) {
  list-style-position: inside;
}

/* Header Styling */
header {
  margin-block-start: 3rem;
  background-color: var.$bg-color;
  border: thick double var.$primary-color;
  min-height: 50vh;
  align-items: center;
  border-radius: 4px;
  padding-inline: 2rem;
  min-width: 60vh;
  padding-block: 1rem;
  margin-inline: 15px;
}

header h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2em;
}

header .container p {
    font-size: 1.1rem;
    margin-block-end: 4rem;
}

header .link-github {
    background-color: var.$bg-light;
    padding: 0.7rem;
    padding-block: 1rem;
    margin-block-end: 4rem;
    text-decoration: none;
    outline: 1px solid var.$secondary-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$secondary-color;
}

/* Navigation Bar Styling */
nav ul {
  margin-block-start: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
  list-style: none;
  padding-inline: 5rem;
  grid-gap: 1rem;
  min-width: 30ch;
  margin: 3vh auto;
  max-width: 100%;
}

nav ul li {
  margin-inline: 1.5rem;
}

nav ul {
  background-color: var.$primary-color;
  padding: 0.5rem;
  padding-block: 1.5rem;
  border-radius: 4px;
  box-shadow: 4px 4px var.$tertiary-color;
  margin-block: 3rem;
}

nav li a:link {
    color: white;
}

nav li a:visited {
    color: hsl(0, 0%, 75%);
}

nav ul li a{
  text-decoration: 3px underline var.$border-underline;
}

nav ul li a {
  display: inline-block;
  position: relative;
}

nav ul li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var.$lighter-border-underline;
  transform-origin: bottom right;
  transition: transform 0.20s ease-out;
}

nav ul li a:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Spacing Styling */
body {
    padding: 0 1em;
    max-width: 60rem;
}

.container {
    max-width: 60ch;
}

p {
    padding-block: 0.5em;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

/* SVG */
svg {
    max-width: 1rem;
}

/* Color Styling */
body {
    color: var.$primary-color;
    background-image: url("/images/background.jpg");
    background-repeat: repeat-y;
}

/* Typography */
body {
    font-family: var.$body-font;
    line-height: 1.5em;
}

h1 {
    font-family: var.$main-header-font;
    font-style: italic;
    font-weight: 500;
    font-size: 5rem;
    line-height: 0.8em;
    letter-spacing: 0.1rem;
}

h2, h3, h4 {
    font-family: var.$sub-header-font;
    line-height: 1.1em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

/* Skip Link Styling */
.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 0.5em;
    line-height: 1.5em;     
    background-color: darkblue;
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

/* Body Styling */
#about, #guidelines,
#contribute {
    background-color: var.$fifth-color;
    color: var.$primary-color;
    padding: 0 1em;
    max-width: 60rem;
    margin-block-end: 3em;
    border: 4px solid var.$bg-color;
    border-radius: 4px;
    box-shadow: 5px 5px var.$primary-color;
}

section.container {
    line-height: 1.5;
    margin: 2vh;
}

.container a:visited {
    color: hsl(268, 100%, 42%);
}

blockquote {
    margin-block: 1rem;
    background-color: var.$bg-color;
    padding: 0.7rem;
    padding-block: 1rem;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

#about ul {
    margin: 0;
    padding: 1rem;
    list-style-type: none;
    padding-inline: 2em;
    padding-block: 1rem;
    background-color: var.$bg-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

#about li {
    position: relative;
}

#about li::before {
    content: "";
	display: block;
	border-radius: 5px;
	width: 8px;
	height: 8px;
	background-color: var.$primary-color;
	position: absolute;
	top: 14px;
	left: -10px;
	transform: translate(-50%, -50%);
}

#contribute ol {
    line-height: 1.9;
    margin: 0;
    padding: 1rem;
    padding-inline: 2em;
    padding-block: 1rem;
    background-color: var.$bg-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

/* Aside Styling */
.profile .container {
    display: grid; 
    justify-items: center;
    margin-block-end: 2em;
    padding-block-end: 2em;
    background-color: var.$sixth-color;
    border: 4px solid var.$bg-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

#styles .container {
    display: grid;
    justify-items: center;
    margin-block-end: 2em;
    padding-block-end: 2em;
    background-color: var.$sixth-color;
    border: 4px solid var.$bg-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

li.profile-title::marker{
color: var.$primary-dark;
}
li.profile-author::marker{
  color: var.$primary-dark;
  }
    li.profile-website::marker{
      color: var.$primary-dark;
      }

/* Footer Styling */
#files {
    margin-block-end: 1em;
}

#files .container {
    margin-block: 2em;
    padding-inline: 1.5em;
    padding-block: 2em;
    line-height: 2;
    background-color: var.$sixth-color;
    border-radius: 4px;
    box-shadow: 4px 4px var.$primary-color;
}

#files .container a:after{
    content: "";
    display: block;
    height: 0;
    width: 1px;
    line-height: 1.5;
}

.page-footer{
    display: flex;
}

.page-footer {
    line-height: 1.5em;
    border: thick double var.$primary-color;
    background-color: var.$bg-color;
    padding: 3rem;
    margin-block-end: 1em;
    max-width: 100%;
    place-content: center;
    justify-items: center;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {
      *,
      *::before,
      *::after {
        transition-duration: 0.02ms !important;
        scroll-behavior: auto !important;
      }
    }

