/* main */
@use "./base/reset";
@use "./abstracts/variables" as var;

/* Spacing Styling */
body {
    padding: 0 1em;
    max-width: 60rem;
}

p, li {
    max-width: 60ch;
}

p {
    padding-block: 0.5em;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

/* SVG */
svg {
    max-width: 1rem;
}

/* Color Styling */
body {
    color: var.$primary-color;
    background: var.$bg-color;
}

/* Typography */
body {
    font-family: var.$body-font;
    line-height: 1.5em;
}

h1 {
    font-family: var.$main-header-font;
    font-size: 5rem;
    line-height: 0.8em;
    letter-spacing: 0.1rem;
}

h2, h3, h4 {
    font-family: var.$sub-header-font;
    line-height: 1.1em;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

/* Skip Link Styling */
.skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 0.5em;
    line-height: 1.5em;     
    background-color: darkblue;
    color: white;
    opacity: 0;
}

.skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}